@import '~igniteui-angular/lib/core/styles/themes/index';


$outlined-button: igx-button-theme(
    $outlined-hover-background: #FFCD0F,
);

:host {
	::ng-deep {
		@include igx-button($outlined-button);
	}
}


igx-icon {
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
}

.login-control-btn {
	margin-left: 1rem;
}