<div igxLayout igxLayoutJustify="center">

	<igx-card type="outlined">
		<igx-card-content>
			<h6>Login with</h6>
			<div class="social-buttons">
				<button>Facebook</button>
				<button>Google</button>
				<button>Twitter</button>
			</div>
		</igx-card-content>

		<igx-divider [middle]="true" inset="5px"></igx-divider>

		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

			<igx-card-content>
				<!-- EMAIL -->
				<igx-input-group>
					<igx-prefix>
						<igx-icon>email</igx-icon>
					</igx-prefix>
					<label igxLabel for="email">E-mail</label>
					<input igxInput formControlName="email" id="email" type="text" />
				</igx-input-group>

				<!-- PASSWORD -->
				<igx-input-group>
					<igx-prefix>
						<igx-icon>lock</igx-icon>
					</igx-prefix>
					<label igxLabel for="password">Password</label>
					<input igxInput formControlName="password" id="password" type="password" />
				</igx-input-group>
			</igx-card-content>

			<igx-card-actions>
				<button igxButton type="submit">Login</button>
			</igx-card-actions>

		</form>
	</igx-card>

</div>