@import '~igniteui-angular/lib/core/styles/themes/index';

$transparent-navbar: igx-navbar-theme(
	$text-color: #FFCD0F,
	$background: #FFFFFF00,
	$idle-icon-color: #FFCD0F,
	$hover-icon-color: gray,
	$disable-shadow: true
);

:host {
	::ng-deep {
		@include igx-navbar($transparent-navbar);
	}
}

.mvgl-topbar {
	width: 100%;
}

igx-icon {
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
}

img {
	height: 50px;
}

.active-icon-pointer {
	cursor: pointer;
	outline: none;
}