@import "~igniteui-angular/lib/core/styles/themes/index";
@import "~minireset.css/minireset";

@include igx-core();

.mvgl-theme {
	$mvgl-palette: igx-palette($primary: #ffcd0f, $secondary: #333333, $surface: #fff, $grays: #000);
	@include igx-theme($palette: $mvgl-palette, $schema: $light-schema);

	$background: #FFFFFF;
	$background-gradient: linear-gradient(to bottom, $background, #BBBBBB);
	height: 100%;
	min-width: 412px;
	background-image: $background-gradient;
}

.app-container {
	width: 100%;
	max-width: 1280px;
}